<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cursos</title>
</head>

<body>
    <h1>Crear curso</h1>
    <form name="cursoForm" action="/cursos" method="POST">
        <input type="text" name="nombre" placeholder="Ingresar nombre curso"><br>
        <input type="submit" value="Crear curso" />
    </form>
</body>

</html>