<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear grupos</title>
</head>

<body>
    <h1>Crear grupo</h1>
    <form id="grupoForma" action="/grupos" method="POST">
        <input type="text" id="grupo" name="grupo" />
        <input type="submit" value="Crear grupo" />
    </form>
</body>

</html>