<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear grupos</title>
</head>

<body>
    <h1>Crear grupo</h1>
    <form id="grupoForma" action="/grupos" method="POST">
        <label for="grupo">Grupo</label>
        <input type="text" id="grupo" name="grupo" />
        <br>
        <label for="">Curso</label>
        <select id="curso" name="curso">
            <% cursos.forEach(function(cur){ %>
                <option value="<%= cur.nombre %>">
                    <%= cur.nombre %>
                </option>
            <% }); %>
        </select>
        <input type="submit" value="Crear grupo" />
    </form>
</body>

</html>