<!DOCTYPE html>
<html>
	
	<head>

		<meta charset=utf-8>
		<title>Registrar Asistencias</title>

		<!-- Hoja de estilo para la página html. -->
  		<link rel="stylesheet" href="css/principal.css" type="text/css">
  		<!-- Fuente de iconos y logos para la página html.  -->
  		<script src="https://kit.fontawesome.com/fd4468dbd1.js" crossorigin="anonymous"></script>
  		
  		<!-- Babel -->
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> 

		<!-- Funciones -->
		<script type="text/babel" src="javascript/react.js"></script>

		<script src="javascript/dragNdropHandler.js"></script>
		<script src="javascript/fileHandler.js"></script>
		<script src="javascript/optionHandler.js"></script>

		<script src="javascript/script.js"></script>

	</head>

	<body>

		<div id="dropdiv"></div>

		<br/><br/>

		<div id="modelos"></div>

		<!-- Cargar React. -->
		<!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
		<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

		<!-- Cargamos nuestro componente de React. -->
  		<script type="text/babel" src="javascript/react.js"></script>

	</body>

</html>