:root {
	--white: #ccc;
	--light_blue: #8cceff;
	--dark_blue: #151019;
	--black: #111;
	--bg_image: url(../images/tech_background.png);
	--sidebar_fontsize: 20px;
	--sidebar_size: 13%;
}

body {
	background-image: var(--bg_image);
}

.modelo {
	padding: 25px;
}

.modelo b {
	color: var(--white);
}

.modelo select {
	width: 300px;
	height: 40px;
	text-align: center;
}

.modelo input {
	width: 300px;
	height: 40px;
	margin-top: 5px;
}

.modelo button {
	background-color: var(--light_blue);
	color: var(--dark_blue);
	border: transparent solid 1px;
	width: 90px;
	height: 40px;
	margin-left: 5px;
}

.modelo button:hover {
	border: var(--light_blue) solid 1px;
}

.modelo button:active {
	background-color: var(--dark_blue);
	color: var(--light_blue);
	border: var(--light_blue) solid 1px;
}

b {
	color: var(--white);
}

h3 {
	color: var(--white);
}

.tabla th {
	color: var(--white);
}

.tabla td {
	color: var(--white);
}

.dragOver {
	border: 2px solid var(--light_blue);
}

#dropbox {
	margin-top: 5px;
	margin: 0 auto;
	width: 50%;
	height: 350px;
	text-align: center;
	color: var(--light_blue);
	background-color: var(--dark_blue);
	border: 2px dashed var(--light_blue);
	opacity: 95%;
}

#dropbox img {
	margin: 10px;
	width: 35px;
}

#dropbox label {
	display:inline-block;
	margin-top: 25px;
}

#uploadButton{
	background-color: var(--light_blue);
	color: var(--dark_blue);
	border: transparent solid 1px;
	width: 120px;
	height: 40px;
	margin-left: 25px;
}

#uploadOptions b{
	margin-left: 25px;
}

#uploadOptions select{
	width: 200px;
	height: 40px;
	text-align: center;
	margin-left: 25px;
}

#uploadIcon {
	margin-top: 100px;
	margin-bottom: 20px;
	width: 75px;
}

#buscar {
	background-color: var(--light_blue);
	color: var(--dark_blue);
	border: transparent solid 1px;
	width: 70px;
	height: 30px;
	margin-left: 5px;
}