:root {
	--white: #ccc;
	--light_blue: #8cceff;
	--dark_blue: #151019;
	--black: #111;
	--bg_image: url(../images/tech_background.png);
	--sidebar_fontsize: 20px;
	--sidebar_size: 13%;
}


/* Estilo para el Cuerpo de la pagina web */
body {
	color: var(--white);
	background: var(--dark_blue) var(--bg_image);
	font-family: Arial, sans-serif;
}

.title {
	padding: 10px 20px;
}

/* Estilo para el contenido de la pagina */
.pagecontent {
	margin-left: var(--sidebar_size);
  	padding: 0px 10px;
}

.float-left {
    width: 20%;
    float: left;
    padding: 20px;
} 

.float-right {
    width: 70%;
    float: left;
    padding: 20px;
} 

/* Estilo para la barra lateral donde se despliega el menu*/
.sidebar {
	height: 100%;
	width: var(--sidebar_size);
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--black);
	border-right: 2px solid var(--light_blue);
	overflow-x: hidden;
	padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidebar a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: var(--sidebar_fontsize);
	color: var(--white);
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.sidebar a:hover, .dropdown-btn:hover {
	color: white;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: var(--light_blue);
	color: var(--dark_blue);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	padding-left: 8px;
	background-color: #262626;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.centerheight {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

/* */
div#dropzone {
	width: 80%;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	color: var(--light_blue);
	background-color: var(--dark_blue);
	border: 2px dashed var(--light_blue);
	opacity: 95%;
}

#dropzone img {
	width: 75px;
	height: 100%;
}

#selectfiles {
	margin-left: 10%;
}