<!DOCTYPE html>
<html>
	
	<head>
		<meta charset=utf-8>
		<title>Registrar Asistencias</title>
  		<link rel="stylesheet" href="../css/RegistrarAsistencias.css">
  		<script src="../javascript/RegistrarAsistencias.js"></script>
  		<script src="https://kit.fontawesome.com/fd4468dbd1.js" crossorigin="anonymous"></script>
	</head>

	<body>

		<div class="sidebar">
			<nav>
				<a href="#">Menú Principal</a>

				<button id="0" class="dropdown-btn" onclick="dropDown(id)">Curso<span class="fa fa-caret-down"></span></button>
				<div class="dropdown-container">
					<a href="#">Crear</a>
					<a href="#">Editar</a>
					<a href="#">Eliminar</a>
				</div>
				
				<button id="1" class="dropdown-btn" onclick="dropDown(id)">Grupo<span class="fa fa-caret-down"></span></button>
				<div class="dropdown-container">
					<a href="#">Crear</a>
					<a href="#">Editar</a>
					<a href="#">Eliminar</a>
				</div>
				
				<button id="2" class="dropdown-btn" onclick="dropDown(id)">Unidad<span class="fa fa-caret-down"></span></button>
				<div class="dropdown-container">
					<a href="#">Crear</a>
					<a href="#">Editar</a>
					<a href="#">Eliminar</a>
				</div>
				
			</nav>
		</div>

		<section class="pagecontent">
			<h1 class="title">Registrar Asistencias</h1>
			<div class="float-left">
				<p>Seleccione el Curso</p>
				<div class="custom-select" style="width:200px;">
					<select>
						<option value="0">Curso</option>
					</select>
				</div>
				<br>

				<p>Seleccione la Unidad</p>
				<div class="custom-select" style="width:200px;">
					<select>
						<option value="0">Unidad</option>
					</select>
				</div>
				<br>

				<p>Selecciones el Grupo</p>
				<div class="custom-select" style="width:200px;">
					<select>
						<option value="0">Grupo</option>
					</select>
				</div>
			</div>

			<div class="float-right">
				<div id="dropzone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
			  		<div class="centerheight">
				  		<img src="../images/upload_icon_v2.png" alt="upload"></img>
			  			<br>
				  		<p>ARRASTRA AQUÍ LOS ARCHIVOS DE EXTENSIÓN .CSV</p>
				  	</div>
				</div>
			
				<br>

				<div id="selectfiles">
					<form action="/action_page.php">
						<label for="myfile">Selecciona los archivos:</label>
						<input type="file" id="myfile" name="myfile" multiple><br><br>
						<input type="submit">
					</form>
				</div>
			</div>\
		</section>
	</body>

</html>

